{{ template "chrome/header.html" . }}
<div>
  <h1>{{ .Title }}</h1>
  {{$root := .}}
  {{if .Params.authors}}
  Researchers:
  {{end}}
  {{range $index, $author := .Params.authors}}
  {{range $page := $root.Site.Recent}}
  {{if eq $page.FileName $author}}
  {{if $index}}|{{end}}
  <a href="http://{{$page.Permalink}}">{{$page.Title}}</a>
  {{end}}
  {{end}}
  {{end}}
</div>
<div>
  {{.Content}}
</div>

<div class="dark">
<h2>Related Articles</h2>
</div>
<ul>
{{range index .Site.Indexes.projects .FileName}}
{{.Page.Render "li"}}
{{end}}
</ul>

{{ template "chrome/footer.html" . }}
