{{ template "chrome/header.html" . }}
<div>
  <h1>{{ .Title }}</h1>
  {{$root := .}}
  {{if .Params.authors}}
  Researchers:
  {{end}}
  {{range $index, $author := .Params.authors}}
  {{range $page := $root.Site.Pages}}
  {{if eq (replace ( replace $page.File.LogicalName $page.File.Ext "" ) "." "") $author}}
  {{if $index}}|{{end}}
  <a href="{{$page.Permalink}}">{{$page.Title}}</a>
  {{end}}
  {{end}}
  {{end}}
</div>
<div>
  {{.Content}}
</div>

{{if index .Site.Taxonomies.projects ( replace ( replace .File.LogicalName .File.Ext "" ) "." "") }}

<div class="dark">
<h2>Related Articles</h2>
</div>
<ul>
{{range index .Site.Taxonomies.projects ( replace ( replace .File.LogicalName .File.Ext "" ) "." "" )}}
{{.Page.Render "li"}}
{{end}}
</ul>

{{end}}

{{ template "chrome/footer.html" . }}
