body {
    /* This is a little too grey for some monitors for readability - color: #6c6c6c; */
    color: #6c6c6c;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    /* Perhaps with normal font weight, the grey will be OK. */
    /* font-weight: 300; */
    margin: 0px;
    padding: 0px;
}

header a {
    text-decoration: none;
}

header h1 {
    display: inline-block;
    border-right: 1px solid;
    padding-right: 0.50em;
    font-size: 2.5em;
}

header span{
    display: inline-block;
    padding-left: 1.50em;
}

header ul {
    position: absolute;
    right: calc(50% - 600px);
    top: 0px;
    list-style: none;
    margin: 0px;
}

header li {
    display: block;
    float: left;
    line-height: 71px;
}

header li a{
    display: inline-block;
    text-align: center;
    padding: 1em 1.5em;
    width: 70px;
    background: #ECECEC;
    margin-left: 1px;
    text-transform: uppercase;
}

header li a.current{
    background: #2C383B;
    color: #FFF;
}

a {
    color: inherit;
}

h1 {
    font-size: 1.5em;
}

body>* {
    margin: 0px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    padding-top: 5px;
}

footer {
    text-align: center;
}

body>div {
    padding-bottom: 5px;
}

body>div:first-of-type, .dark{
    color: #DDAA11;  /* C0C3C4; */
    background: #7A0019;  /* 2C383B; */
}


body>div:first-of-type a, .dark a{
    color: #FFFFFF;
}

body>ul li{
    list-style: none;
}

body>ul>li:nth-child(2n){
    background: #ECECEC;
}

code {
    color: black;
    border-radius: 3px;
    background-color: #ECECEC;
    padding: 0px 5px;
}

pre>code {
    padding: 7px;
}

img[alt=SMthumbnail] { width: 320px; }
img[alt=MDthumbnail] { width: 480px; }
img[alt=LGthumbnail] { width: 640px; }